.rich-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
}

.rich-text.rich-text--full-width {
  max-width: initial;
  width: 100%;
}

.rich-text__blocks {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* 2.5rem margin on left & right */
  width: calc(100% - 5rem / var(--font-body-scale));
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text--full-width .rich-text__blocks {
  /* 4rem (1.5rem + 2.5rem) margin on left & right */
  width: calc(100% - 8rem / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .rich-text__blocks {
    /* max-width: 50rem; */
  }

  .rich-text--full-width .rich-text__blocks {
    /* 7.5rem (5rem + 2.5rem) margin on left & right */
    width: calc(100% - 5rem);
  }
}

@media screen and (min-width: 990px) {
  .rich-text__blocks {
    /* max-width: 78rem; */
  }
}

/* Blocks */

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  /* margin-top: 2rem; */
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__blocks .rich-text__text {
  margin-top: 2.25rem;
  font-size: 1.75rem;
  line-height: 3.5rem;
}

.rich-text__blocks .rich-text__text strong {
  font-family: var(--font-heading-2-family);
}

.rich-text__blocks .rich-text__text p {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks.rich-text__left h2 {
  text-align: left;
}

.rich-text__blocks.rich-text__left .rich-text__text {
  text-align: left;
}

.rich-text__blocks h2.sans_serif_font {
  font-family: var(--font-heading-2-family);
}

.rich-text__blocks h2.nav_font {
  font-family: var(--font-nav-family);
  letter-spacing: var(--font-nav-letter-spacing);
  text-transform: uppercase;
}